# Django settings for the project.
DEBUG=True
SECRET_KEY=F5t9XXo54P4jNL4_AI0fp96Ovg-AIQSK3d6LcIkGdB8grw5ZoWP87HgVZtSUO_vu8BGDTJFEs0da1NvSZLVL2A
ALLOWED_HOSTS=localhost,127.0.1

# Database settings
DATABASE_URL=postgres://smallworld:1898Lionsdonteatgrass@localhost:5432/smallworld

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# AWS (conceptual)
AWS_REGION=us-east-1
CLOUDWATCH_LOG_GROUP=smallworld-production